<ion-content [fullscreen]="true">

  <ion-row class="conteudo-1">
    <ion-col class="img-centro" size="4">
      <img class="img"
        src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
    </ion-col>

    <ion-col class="conteudo-2" size="8">
      <ion-label>
        <h1>Carlitos</h1>
      </ion-label>

      <ion-label>
        <h3>Professor</h3>
      </ion-label><br><br><br><br><br><br>

      <ion-row class="buttons">
        <ion-col size="6">
          <ion-button class="btn-1">Seguir</ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button class="btn-2">Mensagem</ion-button>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>

  <ion-row class="qtd">
    <ion-col size="4">
      <ion-label class="numero">41.8K</ion-label><br>
      <ion-label>Curtidas</ion-label>
    </ion-col>
    <ion-col size="4">
      <ion-label class="numero">853</ion-label><br>
      <ion-label>Seguindo</ion-label>
    </ion-col>
    <ion-col size="4">
      <ion-label class="numero">250</ion-label><br>
      <ion-label>Amigos</ion-label>
    </ion-col>
  </ion-row>

  <br><hr><br>

  <ion-row>
    <ion-col size="12" class="titulos">
      <ion-label class="titulo-s">Sobre</ion-label><br>
      <ion-label class="msg">Professor e gestor de projetos.</ion-label>
    </ion-col>
  </ion-row>

  <br><hr><br>

  <ion-row>
    <ion-col size="12" class="titulos">
      <ion-label class="titulo-s">Postagens de Amigos</ion-label>
    </ion-col>
  </ion-row><br>

  <ion-row class="padding-2">
    <ion-col size="2">
      <img class="img-sm"
        src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
    </ion-col>

    <ion-col size="10">
      <ion-row>
        <ion-col size="2">
          <ion-label class="titulos-sm">Silveiro</ion-label>
        </ion-col>
        <ion-col size="8">
          <ion-label class="msg-sm">@silveiro</ion-label>
        </ion-col>
      </ion-row><br>

      <ion-row>
        <ion-col size="11">
          <ion-label class="msg-postagem">Olá pessoal, alguém quer aprender CSS?</ion-label>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <br><hr><br>

  <ion-row class="padding-2">
    <ion-col size="2">
      <img class="img-sm"
        src="https://images.pexels.com/photos/1239291/pexels-photo-1239291.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
    </ion-col>

    <ion-col size="10">
      <ion-row>
        <ion-col size="2">
          <ion-label class="titulos-sm">Juliana</ion-label>
        </ion-col>
        <ion-col size="8">
          <ion-label class="msg-sm">@juliana</ion-label>
        </ion-col>
      </ion-row><br>

      <ion-row>
        <ion-col size="11">
          <ion-label class="msg-postagem">Novas fotos de gatos!</ion-label><br><br>
          <img class="img-postagem" src="https://images.pexels.com/photos/1643457/pexels-photo-1643457.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <br><hr><br>

  <ion-row class="padding-2">
    <ion-col size="2">
      <img class="img-sm"
        src="https://images.pexels.com/photos/1681010/pexels-photo-1681010.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
    </ion-col>

    <ion-col size="10">
      <ion-row>
        <ion-col size="2">
          <ion-label class="titulos-sm">Marcos</ion-label>
        </ion-col>
        <ion-col size="8">
          <ion-label class="msg-sm">@marcos</ion-label>
        </ion-col>
      </ion-row><br>

      <ion-row>
        <ion-col size="11">
          <ion-label class="msg-postagem">Se colocar uma calculadora na geladeira, terei tudo friamente calculado?</ion-label>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <br>

</ion-content>