* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.row_principal {
  height: 100vh;
  width: 100vw;
  background: rgb(47,0,117);
  background: linear-gradient(135deg, rgba(47,0,117,1) 10%, rgba(128,45,204,1) 35%, rgba(199,42,255,1) 80%);
}

.row_input_number {
  height: calc(25vh - 22px);
  width: 100%;
  padding: .5rem;
}

.label_number {
  font-size: 1.5rem;
  margin: 1.5rem 0 0 .5rem;
  color: #FFFFFF;
}

.titulo {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 300%;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}

.calculadora {
  border: solid 3px #000000;
  border-radius: .5rem;
  margin: 1vh 0;
}

.btn_calc {
  height: 15vh;
  width: 100%;
  padding: .5rem;
  color: #FFFFFF;
  font-size: 5vh;
  font-weight: bold;
  --border-radius: .3rem;
}

.btn_bg_number {
  --background: #B567E2;
}

.btn_bg_calc {
  --background: #6e00a1f3;
}