<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row>
    <ion-col size="12">
      <ng-container *ngFor="let produto of this.produtos">
        <ion-item>
          <ion-label>{{ 'Identificação: ' + (produto.id + 1) }}</ion-label>
          <ion-label>{{ 'Nome: ' + produto.nome }}</ion-label>
          <ion-label>{{ 'Preço: R$' + produto.preco }}</ion-label>
        </ion-item>
      </ng-container>
    </ion-col>
  </ion-row>
  
</ion-content>
