
  ion-content {
    --background: rgb(7,1,122);
    --background: linear-gradient(115deg, rgba(103,108,252,1) 0%, rgba(91,168,230,1) 33%, rgba(0,212,255,1) 66%);
  }

  .full-height {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img {
    height: 100% auto;
    width: 50rem;
  }