<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Etec
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Etec</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Menu Superior -->
  <ion-row class="ion-justify-content-center">
    <ion-col size="6">
      <ion-segment value="desenvolvimento_sistemas" (ionChange)="TrocarCurso($event)">

        <ion-segment-button value="desenvolvimento_sistemas">
          <ion-label>Desenvolvimento de Sistemas</ion-label>
        </ion-segment-button>

        <ion-segment-button value="informatica_internet">
          <ion-label>Informática para Internet</ion-label>
        </ion-segment-button>

        <ion-segment-button value="quimica">
          <ion-label>Química</ion-label>
        </ion-segment-button>

      </ion-segment>
    </ion-col>
  </ion-row>

  <!-- Conteúdo de Desenvolvimento de Sistemas -->

  <ng-container *ngIf="this.item_selecionado == 'desenvolvimento_sistemas'">
    <ion-row class="ion-justify-content-center">
      <ion-col size="4">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/3888151/pexels-photo-3888151.jpeg?auto=compress&cs=tinysrgb&w=1600" />
          <ion-card-header>
            <ion-card-title>Programação Mobile</ion-card-title>
            <ion-card-subtitle>Ionic & Bootstrap</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti amet ullam possimus blanditiis necessitatibus voluptatum soluta pariatur ex saepe obcaecati, cupiditate sint commodi repellendus beatae perferendis omnis molestiae fuga eveniet.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/3888151/pexels-photo-3888151.jpeg?auto=compress&cs=tinysrgb&w=1600" />
          <ion-card-header>
            <ion-card-title>Programação Mobile</ion-card-title>
            <ion-card-subtitle>HTML & CSS</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi numquam dicta totam, enim placeat harum quasi mollitia atque accusamus quia, nihil odit soluta. Sint inventore nesciunt illo? Molestias, sunt atque.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/3888151/pexels-photo-3888151.jpeg?auto=compress&cs=tinysrgb&w=1600" />
          <ion-card-header>
            <ion-card-title>Programação Mobile</ion-card-title>
            <ion-card-subtitle>Síncrono & Assíncrono</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam iusto dicta repellat quis delectus officiis voluptatibus recusandae cupiditate? Omnis cumque in tempore et expedita neque maiores, amet modi repellat inventore.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
</ng-container>

  <!-- Conteúdo de Informática para Internet -->

  <ng-container *ngIf="this.item_selecionado == 'informatica_internet'">
    <ion-row class="ion-justify-content-center">
      <ion-col size="4">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1600" />
          <ion-card-header>
            <ion-card-title>Programação Mobile</ion-card-title>
            <ion-card-subtitle>Ionic & Bootstrap</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti amet ullam possimus blanditiis necessitatibus voluptatum soluta pariatur ex saepe obcaecati, cupiditate sint commodi repellendus beatae perferendis omnis molestiae fuga eveniet.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1600" />
          <ion-card-header>
            <ion-card-title>Programação Mobile</ion-card-title>
            <ion-card-subtitle>HTML & CSS</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi numquam dicta totam, enim placeat harum quasi mollitia atque accusamus quia, nihil odit soluta. Sint inventore nesciunt illo? Molestias, sunt atque.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1600" />
          <ion-card-header>
            <ion-card-title>Programação Mobile</ion-card-title>
            <ion-card-subtitle>Síncrono & Assíncrono</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam iusto dicta repellat quis delectus officiis voluptatibus recusandae cupiditate? Omnis cumque in tempore et expedita neque maiores, amet modi repellat inventore.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ng-container>

  <!-- Conteúdo de Química -->

  <ng-container *ngIf="this.item_selecionado == 'quimica'">
    <ion-row class="ion-justify-content-center">
      <ion-col size="4">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg?auto=compress&cs=tinysrgb&w=1600" />
          <ion-card-header>
            <ion-card-title>Programação Mobile</ion-card-title>
            <ion-card-subtitle>Ionic & Bootstrap</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti amet ullam possimus blanditiis necessitatibus voluptatum soluta pariatur ex saepe obcaecati, cupiditate sint commodi repellendus beatae perferendis omnis molestiae fuga eveniet.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg?auto=compress&cs=tinysrgb&w=1600" />
          <ion-card-header>
            <ion-card-title>Programação Mobile</ion-card-title>
            <ion-card-subtitle>HTML & CSS</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi numquam dicta totam, enim placeat harum quasi mollitia atque accusamus quia, nihil odit soluta. Sint inventore nesciunt illo? Molestias, sunt atque.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg?auto=compress&cs=tinysrgb&w=1600" />
          <ion-card-header>
            <ion-card-title>Programação Mobile</ion-card-title>
            <ion-card-subtitle>Síncrono & Assíncrono</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam iusto dicta repellat quis delectus officiis voluptatibus recusandae cupiditate? Omnis cumque in tempore et expedita neque maiores, amet modi repellat inventore.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ng-container>

</ion-content>